{% extends "clubBase.njk" %}

{% block pageTitle %}
<h1> Login</h1>
{% endblock %}

{% block main %}
    <figure>
    <img src="images/raccoon5.jpg"
            id="loginpic"
            alt="Raccoon praises the sun"
            title="Stretchy boy raccoon reaches for the stars">
            <figcaption> Raccoon reaches for the &#x1f31e;</figcaption>
    </figure>
    <form id="frm1" action=./logon method="POST">
        <label class="login" for="email">Email: </label>
        <input type="email" id="email" name="email" required>

        <label class="login" for="password">Password: </label>
        <input type="password" id="password" name="password" required>

        <input type="submit" value="Login" id="button">
    </form>
{% endblock %}

