{% extends "clubBase.njk" %}

{% block metaStuff %}
<title>Forbidden</title>
{% endblock %}

{% block main %}
<h1 id="about-us">Login Problem</h1>
<section>
    <h2>Forbidden</h2>
    <p>Something went wrong!</p>
    <p>You do not have access to this page</p>
</section>
{% endblock %}
