{% extends "clubBase.njk" %}

{% block metaStuff %}
<title>Goodbye</title>
{% endblock %}

{% block main %}
<h1>Goodbye</h1>
<section>
    <h2>Goodbye</h2>
    <p>You are now logged out.</p>
</section>
{% endblock %}
