{% extends "clubBase.njk" %}

{% block metaStuff %}
<title>Login denied...</title>
{% endblock %}

{% block main %}
<h1 id="about-us">Login Problem</h1>
<section>
    <h2>Login Problem</h2>
    <p>Something went wrong!</p>
    <p>Please try again or contact the club administrator</p>
</section>
{% endblock %}
