{% extends "clubBase.njk" %}

{% block metaStuff %}
<title>Thanks for Signing up!</title>
{% endblock %}

{% block main %}
<h1 id="about-us">Thanks for Signing up</h1>
<section>
    <h2>Thanks for Signing Up!</h2>
    <p>Name: {{name}}</p>
    <p>Email: {{email}}</p>
    <p>Your favorite raccoon trait: {{choice}}</p>
    <p>Comments: {{comment}} </p>
</section>
{% endblock %}
